*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    
}

.container{
    max-width: 1200px;
    margin: auto;
}
.panda-btn{
    background-color: #FF589BFF
;
color: white;
padding: 14px 35px;
border: none;
border-radius: 6px;
font-weight: 500;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px 20px;
    
    
}

.search-parent{
    position: relative;
    color: #F1F1F1;
}

.search-parent input{
    background-color: rgb(241, 241, 241);
    border-radius: 66px;
    padding: 10px 30px;
    width: 500px;
    border: none;
}
.search-parent i{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #BABABA;
}
.nav-items{
    display: flex;
    list-style: none;
    gap: 10px;
    
}
.nav-items a{
    text-decoration: none;
    color: #707070;
}

/* banat section */
.banner{
    background-color: #FEEAE9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    padding: 30px;
    border-radius: 10px;

}
.banner h2{
    font-size: 56px;
    font-weight: 700;
    color: #1F1F1F;
    padding-bottom: 10px;
    padding-top: 10px;
}
.banner p{
    color: #4E4E4E;
    /* max-width: 500px; */
}
.banner-price{
    color: #FF136F;
    font-size: 48px;
    font-weight: 600;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}
.banner img{
    width: 402px;
    height: 378px;
    padding: 15px;
}